html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}